:root {
  --color1: blue;
  --color2: pink;
  --color3: grey;
  --color4: lightblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(/css/assets/bg2.jpg) center/cover;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card {
  background: center rgba(0, 0, 0, 0.247);
  height: 70vh;
  width: calc(100% - 50px);
  padding: 20px 20px 6px;
  box-shadow: 1px 6px 11px 0px black;
  border-radius: 5px;
  backdrop-filter: blur(5px);
}
.card:before {
  content: "\2730";
  position: relative;
  top: 14px;
  left: 1800px;
  font-size: 2.4rem;
}

H1 {
  margin-bottom: 24px;
  position: relative;
}

h1::after {
  content: "";
  position: absolute;
  background: var(--color2);
  height: 1px;
  width: 100%;
  bottom: -10px;
  transform: translateX(-10%) scaleX(0);
  animation: h1anim 6s ease-in-out forwards;
  transform-origin: left;
}

@keyframes h1anim {
  100% {
    transform: translateX(-10%) scaleX(1);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 40vh;
}

.polygon-container {
  filter: drop-shadow(-1px 16px 3px var(--color2));
  place-self: center left; /* si le parent est en grid */
}
/*****
bennettfeely.com/clippy/ *** receuperer le code de tout polygon 
cssgradient.io           *** pour aller chercher le code du gradient
webgradients.com         *** idée de gradients déjà conçus
***/
.polygon {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background: linear-gradient(135deg, var(--color1) 0%, var(--color2) 100%);
  height: 10vh;
  width: 10vw;
}

.polygon:after {
  content: "Un texte";
  position: absolute;
  color: var(--color1);
  background: var(--color4);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(344deg);
  width: 90px;
  padding: 4px;
  text-align: center;
}

p {
  line-height: 26px;
  margin: 20px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-align: justify;
}

p::selection {
  background: var(--color3);
  color: var(--color4);
}

.checkbox-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 30px;
  perspective: 40px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label {
  background: green;
  color: var(--color4);
  transform: scale(1.25);
  filter: brightness(99%);
}

label {
  cursor: pointer;
  border: 1px solid var(--color1);
  background: var(--color3);
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
  user-select: none;
}

label:first-of-type:hover {
  animation: label1 1s infinite linear;
}

@keyframes label1 {
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

label:nth-child(4):hover {
  animation: label2 3s infinite linear;
}

/*Ne pas oublier la perspective sur le parent*/

@keyframes label2 {
  33% {
    transform: translateZ(30px);
  }
  66% {
    transform: translateZ(-40px);
  }
  100% {
    transform: translateZ(0);
  }
}

/* cssgenerator.org/filter-css-generator.html*/

.e-mail {
  text-align: center;
  margin-bottom: 20px;
}

.e-mail input {
  padding: 10px;
  border-radius: 5px;
  border: 3px solid transparent;
  outline: none;
  text-align: center;
  transition: 0.3s;
  font-size: 1.2rem;
  color: var(--color3);
  min-width: 150px;
  width: 35%;
  max-width: 300px;
}

input[Type="text"]:focus {
  background: transparent;
  border: 3px solid var(--color2);
  border-radius: 150px;
}

input[Type="text"]::placeholder {
  color: var(--color4);
}

button {
  cursor: pointer;
  background: var(--color2);
  border: none;
  font-size: 1.3rem;
  padding: 10x 20px;
  border-radius: 150px;
  margin: 0 auto;
  display: block;
  transition: 1.4s;
  height: 50%;
  width: 50%;
  transform: translateY(50%);
}

button:hover {
  letter-spacing: 3px;
}

button:active {
  transform: scale(1.2);
}

button:hover + a,
a:hover {
  opacity: 100%;
  visibility: visible;
  transform: translateY(50%);
}

a {
  color: var(--color1);
  text-decoration: none;
  text-align: center;
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  transform: translateY(300%);
}

a:visited {
  color: var(--color1);
}

img {
  height: 50px;
  position: absolute;
  filter: drop-shadow(0px 6px 3px yellow);
  z-index: -1;
  animation: spaceship 30s infinite linear;
}

@keyframes spaceship {
  0% {
    top: 2%;
    left: 2%;
    transform: rotate(90deg);
  }
  10% {
    top: 9%;
    left: 30%;
    transform: rotate(150deg);
  }
  20% {
    top: 4%;
    left: 60%;
    transform: rotate(200deg);
  }
  30% {
    top: 20%;
    left: 80%;
    transform: rotate(220deg);
  }
  40% {
    top: 30%;
    left: 120%;
    transform: rotate(110deg);
  }
  50% {
    top: 50%;
    left: 80%;
    transform: rotate(323deg);
  }
  60% {
    top: 70%;
    left: 50%;
    transform: rotate(250deg);
  }
  70% {
    top: 110%;
    left: 30%;
    transform: rotate(200deg);
  }
  80% {
    top: 80%;
    left: 15%;
    transform: rotate(150deg);
  }
  90% {
    top: 50%;
    left: 7%;
    transform: rotate(120deg);
  }
  100% {
    top: 2%;
    left: 2%;
    transform: rotate(90deg);
  }
}
